<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="myFileAppender" class="ch.qos.logback.core.FileAppender">
        <file>logs/notesApp.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="myConsoleAppender"/> <!-- Console appender for INFO and above -->
    </root>

    <!-- Logger specifically for the file appender -->
    <logger name="com.linkwithjs.simplenotesapi.SimpleNotesApi" level="ERROR">
        <appender-ref ref="myConsoleAppender"/>
        <appender-ref ref="myFileAppender"/> <!-- File appender for ERROR only -->
    </logger>
</configuration>
